*{
box-sizing: border-box;
padding: 0;
margin: 0;
scroll-behavior: smooth;
}
:root {
font-size: 16px;
font-family: 'Zen Kaku Gothic New', sans-serif;
font-weight: medium;
--primary-color:  #C3B214;
--secondary-color:  #73680c;
--text-primary: #000000;
--text-secondary: #ececec;
--bg-primary: rgba(194,194,194,.7);
--bg-secondary: rgb(55, 55, 55);
--bg-dark-hover: #545455;
--color-bg-light: #D9D9D9;
--color-bg-dark: #0E0D0F;
--color-blue: #132656;
--transition-speed: 600ms;
}

body {
color: black;
background-color: white;
margin: 0;
padding: 0;
}

body::-webkit-scrollbar {
width: 0.6rem;
}

body::-webkit-scrollbar-track {
background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
background: var(--primary-color);
}

main {
width: 100%;
}
/*************/
/*  NAV BAR  */
/*************/

nav::-webkit-scrollbar{
display: none;

}
.navbar {
position: fixed;
background-color: var(--bg-primary);
transition: width 600ms ease;
overflow: scroll;
z-index: 5;
clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

.navbar-nav {
list-style: none;
padding: 0;
margin: 0;
display: flex;
flex-direction: column;
align-items: center;
height: 100%;
clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

.nav-item {
width: 100%;
background-color: rgba(194,194,194,.8);
}

.nav-link {
display: flex;
align-items: center;
text-align: center;
height: 5rem;
color: black;
text-decoration: none;
filter: grayscale(100%) opacity(0.7);
transition: var(--transition-speed);
}

.nav-link:hover {
filter: grayscale(0%) opacity(1);
background: var(--bg-secondary);
color: var(--text-secondary);
}

.nav-link__text {
font-size: 1.1rem;
display: none;
margin-left: 1rem;
}

.nav-link i, .nav-link svg{
font-size: 1.6rem;
width: 2rem;
min-width: 2rem;
margin: 0 1.5rem;
}
.nav-link:hover i,.nav-link:hover span{
color: var(--primary-color);
}
.logo{
text-align: center;
background: var(--bg-dark-hover);
width: 100%;
}
.logo svg {
transform: rotate(0deg);
transition: var(--transition-speed);
}
.logo-text{
display: inline;
width: 14rem;
position: absolute;
left: -999px;
transition: var(--transition-speed);
}

.navbar:hover .logo svg {
transform: rotate(-180deg);
fill: var(--secondary-color);
}

/****************************/
/* HERO-WORKS-ABOUT SECTION */
/****************************/
.hero, .works-about,.services{
    width: 100%;
    min-height: 50vh;
    position: relative;
}
.hero-img{
    position: absolute;
    width: 80%;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    opacity: 0;
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}
.hero-bg{
    min-height: 50vh;
    width: 100%;
    display: grid;
    opacity: .5;
    clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
    grid-template-columns: 3fr 2.2fr;
}
.works-about{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.works-bg,.about-container{
    min-height: 50vh;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 2.2fr;
}
.hero-bg__dark,.works-bg__dark{
    background-color: var(--color-bg-dark);
    width: 100%;
    min-height: 100vh;
}
.works-bg__dark{
    width: 100%;
    min-height: 50vh;
}
.hero-bg__light,.works-bg__light{
    background-color: var(--color-light-bg);
}
.hero-bg-left{
    width: 100%;
    min-height: 100vh;
    padding: 0rem 4rem 4rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.gsap-hero-social-media{
    clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
}
.social-media-list{
    list-style: none;
    display: flex;
    justify-content: start;
    gap: 2.5rem;
    align-items: center;
    flex-wrap: wrap;
}
.social-media-list::before{
    content: '';
    height: .05rem;
    width: 35%;
    background-color: var(--text-primary);
}
.social-media-item{
    font-size: 1.2rem;
    width: fit-content;
}
.social-media-link{
    text-decoration: none;
    color: var(--text-primary);
}
.social-media-link:hover{
    color: var(--primary-color);
    transition: color 300ms;
}
.social-media-link:active{
    color: var(--secondary-color);
}
.title-left{
    text-align: end;
    font-size: 8rem;
    padding-right: .75rem;
    color: var(--color-bg-light);
}
.title-right{
    text-align: start;
    font-size: 4rem;
    padding-top: 2.75rem;
    padding-left: 1.5rem;
    color: var(--color-bg-dark);
    line-height: 3.5rem;
    position: relative;
}
.title-right::before{
    content: '|';
    font-size: 9rem;
    color: var(--color-bg-dark);
    position: absolute;
    left: -.25rem;
    top: 4rem;
}
.work-together,.works-div,.about-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: fit-content;
    padding: 6rem 2rem 6rem 8rem;
}
.work-together-text{
    color: var(--color-bg-light);
    text-align: center;
}
.work-together__title{
    font-size: 3rem;
}
.work-together__subtitle{
    font-size: 1.4rem;
}
.work-together-video{
    padding-top: 3rem;
    width: 90%;
}

/* --> SLIDER   */

.works-slider-container{
    position: relative;
    max-width: 100%;
    min-width: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 6%;
    gap: 1.1rem;
    justify-content: center;
}
.works-slider{
    width: 35rem;
    height: 24rem;
    overflow: hidden;
}
.works-slides{
    width: 500%;
    height: 24rem;
    display: flex;
    position: relative;
}
.works-slides input{
    display: none;
}
.works-slide{
    width: 20%;
    transition: 1s;
}
.works-slide-title{
    position: absolute;
    font-weight: 500;
    font-size: 2rem;
    top: 1rem;
    left: 1rem;
    text-decoration: none;
    color: white;
}
.works-slide img{
    width: 100%;
    min-width: 9rem;
    height: 24rem;
    z-index: 2;
}
.navigation-manual{
    position: absolute;
    bottom: 5%;
    width: 35rem;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.manual-btn{
    border: 2px solid white;
    padding: 6px;
    cursor: pointer;
    transform: rotate(45deg);
    z-index: 4;
}

.manual-btn:hover{
    background-color:#C3B214;
    transition: .4s;
}
#photo1:checked ~ .first{
    margin-left: 0;
}
#photo2:checked ~ .first{
    margin-left: -20%;
}
#photo3:checked ~ .first{
    margin-left: -40%;
}
#photo4:checked ~ .first{
    margin-left: -60%;
}
#photo5:checked ~ .first{
    margin-left: -80%;
}

#photo1:checked ~ .navigation-manual #photo-btn1,#photo2:checked ~ .navigation-manual #photo-btn2,
#photo3:checked ~ .navigation-manual #photo-btn3,#photo4:checked ~ .navigation-manual #photo-btn4,
#photo5:checked ~ .navigation-manual #photo-btn5{
    background-color: #C3B214;
}


.button{
    padding: .3rem 3rem;
    background-color: #C3B214;
}
.see-more-btn{
    text-decoration: none;
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
    color: black;
}
.button:hover{
    transform: translate(-.4rem,-.4rem);
    box-shadow: .4rem .4rem .2rem 0rem rgba(0,0,0,0.75);
    -webkit-box-shadow: .4rem .4rem .2rem 0rem rgba(0,0,0,0.75);
    -moz-box-shadow: .4rem .4rem .2rem 0rem rgba(0,0,0,0.75);
    transition: .3s;
}
.button:active{
    background-color: #5f570e;
    color: white;
}

.about-img-container{
    min-height: 50rem;
    width: 100%;
    position: relative;
}
.about-img{
    position: absolute;
}
#dark-balloon{
    top: 0;
    width: 18rem;
    right: 0;
    transform: translate(55%,0);
}
#light-balloon{
    top: 50%;
    width: 18rem;
    left: 20%;
    transform: translate(0%,-50%);
}
#profile-img{
    bottom: 0%;
    width: 45rem;
    left: 50%;
    transform: translate(-50%,0);
}
.works-div{
    min-height: 80vh;
    padding: 6rem 2rem 0 2rem;
}
.works-div-title,.about-div-title{
	font-size: 5rem;
	text-align: center;
    color: transparent;
	-webkit-text-stroke: .2rem var(--color-bg-dark);
	padding: 2rem 0 ;
}
.about-div{
    padding-bottom: 0rem;
}
.about-div-text{
    font-size: 1.3rem;
    max-width: 30rem;
    text-align: start;
    padding-top: 4rem;
}
/***************************/
/**** Services section ****/
/***************************/
.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 6rem;
    position: relative;
}
.services-title,.contact-title,.social-media-title{
	font-size: 6rem;
	text-align: center;
    color: transparent;
	-webkit-text-stroke: .2rem var(--color-bg-dark);
	padding: 2rem 0 ;
}

.services-list{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: space-evenly;
    align-content: center;
	text-align: center;
	width: 100%;
	max-width: 90rem;
    padding-top: 5rem;
}

.services-item{
	min-height: 15em;
	max-width: 25rem;
	background: var(--color-bg-dark);
	box-shadow: 0 0 1rem var(--color-bg-dark);
	margin: 2rem;
	border-radius: .15rem;
    padding: 1rem;
	color: var(--primary-color);
}
.services-item h3{
	font-size: 2rem;
}

.services-item .title-icon{
	font-size: 2rem;
	color: var(--primary-color);
	margin-top: 1.5rem;
}
.services-item-text{
	margin: 1rem 2rem;
	text-align: justify;
	color: var(--text-secondary);
}
#probermusic-link{
    text-decoration: none;
    color: var(--primary-color);
}
#probermusic-link:hover{
    text-shadow: 0 0 5px var(--color-bg-light);
    transition: .3s;
}
#probermusic-link:active{
    color: var(--secondary-color);
    text-shadow: none;
}
.golden-service, .golden-service .title-icon{
    background-color: var(--primary-color);
    color: var(--color-bg-dark);
    box-shadow: 0 0 3rem var(--primary-color);   
}
.golden-service-text{
    color: var(--text-primary);
	text-align: justify;
}
.title-icon{
    height: 3rem;
    margin-bottom: 1rem;
}
/************************/
/**** CONTACT SECTION ***/
/************************/
.contact{
	width: 100%;
	min-height: 100vh;
	background-color: var(--color-bg-dark);
	position: relative;
    padding: 4rem 0rem 7rem 6rem;
}
.contact-img{
    position: absolute;
}
#spaceship{
    top: 5%;
    right: 5%;
    width: 20rem;
}
#phone-img{
    right: 5%;
    bottom: 0%;
    width: 15rem;
}
.contact-title{
    -webkit-text-stroke: .2rem var(--color-bg-light);
}
.social-media-title{
    padding-top: 5rem;
    font-size: 4rem;
    -webkit-text-stroke: .1rem var(--color-bg-light);
}
.contact-container{
	width: 100%;
	max-width: 75em;
	margin: auto;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
	width: 65%;
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: .6em 0;
	width: 100%;
}
input,textarea{
    padding: .4em;
    background-color:var(--color-bg-light) ;
    border: none;
    color: var(--text-primary);
    font-size: 1.1em;
    font-weight: 600;
	resize: none;
	position: relative;
	z-index: 1;
}
textarea:focus, input:focus{
    outline: none;
    background-color: white;
}
.form-container label{
    font-size: 1.25em;
    color: var(--text-secondary);
}
.mail-example{
    font-weight: 200;
    font-size: .7em;
}
.form-button-container{
    width: 100%;
    position: relative;
}
.form-button{
	width: 100%;
    margin-top: 1.5em;
    font-weight: 400;
    background-color: var(--color-blue);
	color: var(--text-secondary);
	cursor: pointer;
}
.form-button:active,.form-button:focus{
    background-color: var(--primary-color);
    color: var(--text-primary);
}
.form-button:hover{
	transition: .3s;
	transform: translate(-.1em,-.1em);
	box-shadow: .5rem .5rem .25rem 0rem rgba(231, 231, 231, 0.75);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] { -moz-appearance:textfield; }

.contact-social-media-list{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	list-style: none;
}

.social-media__item i{
    color: var(--color-bg-light);
	padding: .6em;
	font-size: 2.5em;
}

.social-media__item i:hover{
	color: var(--primary-color);
}
.social-media__item i:active{
	color: var(--secondary-color);
}

/*FOOTER*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    width: 100%;
    background-color: var(--color-bg-dark);
    color: var(--color-bg-light);
    gap: 4.5rem;
    font-size: .9em;
    padding-left: 6rem;
}

@media screen and (max-width: 1440px){
    :root{
        font-size: 13px;
    }
}
@media screen and (max-width: 1150px){
    :root{
        font-size: 10px;
    }
}
@media screen and (max-width: 900px){
    :root{
        font-size: 9px;
    }
}
/* Small screens */
@media screen and (max-width: 680px) {
    :root{
        font-size: 10px;
    }
    p,.about-div-text{
        font-size: 1.3rem;
    }
    .form-container label,.form-button{
        font-size: 1.5rem;
    }
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }
    .nav-link i{
        font-size: 2rem;
        margin: 0;
    }
    .hero-bg-left{
        padding: 0rem 0rem 10rem 30%;
        position: relative;
    }
    .hero-bg-right{
        position: relative;
    }
    .hero-bg{
        grid-template-columns: 3fr 1.8fr;        
    }
    .scroll-icon-link{
        text-decoration: none;
        position: absolute;
        right: 50%;
        bottom: 15%;
    }
    .scroll-icon{
        position: relative;
        width: 2rem;
        height: 4rem;
        border: .3rem solid var(--color-bg-light);
        border-radius: 2rem;
        opacity: 0;
    }
    .scroll-icon .wheel{
        position: absolute;
        left: 50%;
        top: 15%;
        width: .6rem;
        height: .6rem;
        background-color: var(--color-bg-light);
        transform: translate(-50%,0);
        border-radius: .6rem;
        opacity: 0;
        animation: scroll-icon-animation 1.4s 4.5s ease-in-out infinite;
    }
    @keyframes scroll-icon-animation{
        0%{
            transform: translate(-50%,0);
            opacity: 0;
        }
        20%,70%{
            opacity: 1;
        }
        90%,100%{
            transform: translate(-50%,120%);
            opacity: .3;
        }
    }
    .responsive-title-left{
        position: absolute;
        font-weight: 600;
        top: 6%;
        right: 0;
        font-size: 4.5rem;
        padding-right: .75rem;
        color: var(--color-bg-dark);
    }
    .responsive-title-right{
        font-size: 2.5rem;
        position: absolute;
        font-weight: 600;
        top: 8%;
        left: 1.5rem;
        color: var(--color-bg-light);
        line-height: 2.1rem;
    }
    .responsive-title-right::before{
        content: '|';
        font-size: 6rem;
        color: var(--color-bg-light);
        position: absolute;
        left: -1.5rem;
        top: 16%;
    }
    .hero-img{
        width: 100%;
    }
    .social-media-list{
        align-items: start;
        flex-direction: column;
    }
    .social-media-list::before{
        display: none;
    }
    .social-media-item{
        font-size: 1.7rem;
    }
    .logo {
        display: none;
    }
    .navbar-nav {
        flex-direction: row;
    }
    .nav-link {
        justify-content: center;
    }
    main {
        margin: 0;
        width: 100vw;
    }
    .works-bg,.about-container{
        min-height: 50vh;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .title-left,.title-right{
        display: none;
    }
    .services-title{
        -webkit-text-stroke: .15rem var(--color-bg-dark);
        padding-top: 12rem;
        font-size: 5rem;
    }
    .about-img-container{
        grid-row: 2;
        height: fit-content;
    }
    .about-div,.works-div{
        padding: 0;
        height: fit-content;
    }
    #dark-balloon{
        right: 11rem;
        top: -10rem;
    }
    #light-balloon{
        left: 3rem;
    }
    .works-bg-left{
        height: fit-content;
    }
    .work-together{
        padding: 6rem 1rem;
    }
    .works-div,.works-bg{
        min-height: fit-content;
    }
    .services{
        padding: 0 0 10rem 0;
    }
    .title-icon{
        height: 5rem;
    }
    #drone{
        max-width:15rem ;
    }
    .services-item{
        max-width: 30rem;
    }
    .footer{
        flex-direction: column;
        gap: 0;
        justify-content: start;
        padding-left: 0;
        height: 13rem;
    }
    .contact{
        padding: 5rem 0 20rem 0;
    }
    .contact-title{
        -webkit-text-stroke: .1rem var(--color-bg-light);
        font-size: 4rem;
    }
    #phone-img{
        left: 50%;
        transform: translate(-45%);
    }
    #spaceship{
        top: -13rem;
    }
    .social-media__item{
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 470px) {
    #profile-img{
        width: 35rem;
    }
}

@media screen and (max-width: 380px){
    .responsive-title-left{
        top: 6.5%;
        right: 0;
        font-size: 3.7rem;
        padding-right: .4rem;
    }
    .responsive-title-right{
        font-size: 1.9rem;
        top: 8%;
        left: 1.2rem;
        line-height: 2rem;
    }
    .hero-bg-left{
        padding-bottom: 10vh;
    }
    .responsive-title-right::before{
        font-size: 5rem;
        left: -1.1rem;
        top: 16%;
    }
    #spaceship{
        width: 16rem;
        top: -11rem;
    }
    #phone-img{
        width: 13rem;
    }
    .contact-container{
        min-height: fit-content;
    }
    .footer{
        padding-top: 1rem;
    }
}

@media screen and (max-width: 350px) {
    .works-slider{
        width: 28rem;
        height: 19rem;
    }
    .navigation-manual{
        bottom: 25%;
        transform: translateX(-10%);
    }
    .about-container{
        grid-template-rows: 1.7fr 1fr;
    }
    .about-img-container{
        min-height: 30rem;
    }
    .see-more-btn{
        padding-top: 1.5rem;
    }
    #profile-img{
        width: 30rem;
    }
    #light-balloon,#dark-balloon{
        width: 13rem;
    }
    #dark-balloon{
        right: 8rem;
    }
    .about-div-text{
        padding: 2rem 1rem 12rem 1rem;
    }
}

    /* Large screens */
@media screen and (min-width: 680px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }
    .navbar:hover {
        width: 24rem;
    }
    .navbar:hover .nav-link__text {
        display: inline;
    }
    .navbar:hover .logo svg
    {
        margin-left: 20rem;
    }
    
    .navbar:hover .logo-text
    {
        left: 0px;
    }
    .responsive-title-left{
        display: none;
    }
    .responsive-title-right{
        display: none;
    }
    .responsive-title-right::before{
        display: none;
    }
}
